body {
    font-family: "Modak", system-ui;
    text-align: center;
    background-color: rgb(255, 169, 198);
}

h1 {
    margin-top: auto;
    font-weight: lighter;
    font-size: 80px;

    color: rgb(250, 24, 130);
    text-shadow: 5px 5px 10px black;
}

.button-container {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    align-items: center; /* Center the button vertically */
    height: 100vh; /* Set the container to fill the entire viewport height */
}

button {
    font-family: "Modak", system-ui;
    font-size: 40px;
    font-weight: lighter;

    background-color: rgb(241, 111, 183); 
    color: white; 
    text-shadow: 5px 5px 10px black;

    margin: 0 10px;
    padding: 10px 20px;

    border: 7px double rgb(250, 24, 130);
    border-radius: 50px;
}